services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ./config_jellyfin:/config
      - ${MEDIA_SERIES}:/data/tvshows
      - ${MEDIA_MOVIES}:/data/movies
      - ${MEDIA_VIDEOS}:/data/videos
    ports:
        - 8096:8096
    restart: unless-stopped

